@import url("https://fonts.googleapis.com/css2?family=Aleo:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");

* {
  background-color: #faf7f6;
}

.App {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 200;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Aleo", serif;
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.nav__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 1.1rem;
  margin: 12px 0 40px;
}

.links {
  color: #000;
  text-decoration: none;
}

.links:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.8;
}

.article__img {
  margin-bottom: 10px;
  max-width: 100%;
}

.section__article,
.section__single_article,
.section__comment {
  padding: 0 18px;
  margin-bottom: 24px;
}

.section__comment,
.body__single_article {
  text-align: justify;
}

.article__title,
.article__author_and_date {
  text-align: left;
  margin: 0 0 10px;
}

.article__title {
  font-size: 1.35rem;
  margin-top: 0px;
}

.single_article__author_and_date,
.comment__author_date_votes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment__author_date_votes {
  margin: 0 auto 40px;
}

.comment__vote_and_delete {
  display: flex;
  gap: 8px;
}

.button__delete_comment {
  border: none;
  font-size: 1rem;
}

.button__delete_comment:hover {
  color: rgb(255, 76, 53);
}

.message__in_progress {
  text-align: center;
}

.article__card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

button {
  border: 1px dashed #000;
  border-radius: 10px;
}

.article__icons {
  display: flex;
  gap: 6px;
}

.button__downvote {
  margin-right: 6px;
}

.button__upvote:hover {
  color: rgb(37, 41, 255);
  cursor: pointer;
}

.button__downvote:hover {
  color: rgb(255, 76, 53);
  cursor: pointer;
}

.err__message,
.post_err__message {
  border: 2px dashed rgb(255, 76, 53);
  border-radius: 10px;
  background-color: #fff0e9;
  color: rgb(255, 76, 53);
  font-weight: 800;
  text-align: center;
  padding: 10px 0;
}

/* CommentAdder */

.comment_adder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  padding: 0 18px;
}

.new_comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.textarea__new_comment {
  background-color: #fff;
  box-sizing: border-box;
  height: 100px;
  resize: vertical;
}

.button_comment_adder {
  border-radius: 0;
  background-color: #000;
  color: #fff;
  font-size: 1rem;
  font-weight: 800;
  padding: 10px;
}

.button_comment_adder:hover {
  cursor: pointer;
  opacity: 0.8;
}

.post_success__message {
  border: 2px dashed rgb(0, 173, 101);
  border-radius: 10px;
  background-color: #dbfaf0;
  color: rgb(3, 112, 45);
  font-weight: 800;
  padding: 10px 0;
}

/* SortByOptions */

.section__sort_by {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.select__dropdown_box {
  border-radius: 5px;
  background-color: #fff;
  margin: 0 10px;
  padding: 4px;
}

.buttons__order {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.button__asc,
.button__desc {
  border: none;
  margin-left: 6px;
  padding: 0;
}

.button__asc:hover,
.button__desc:hover {
  color: rgb(37, 41, 255);
  cursor: pointer;
}

/* Topics */

.section__topics {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__topic {
  margin-bottom: 40px;
}

.list__topic {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin: auto;
}

.li__topic {
  border: 1px dashed #000;
  border-radius: 10px;
  font-size: 1.1rem;
  padding: 20px 20px;
  width: 180px;
}

.link__topic {
  color: #000;
  text-decoration: none;
}

.li__topic:hover {
  cursor: pointer;
  background-color: #f7f7e1;
  font-family: "Aleo", serif;
  font-size: 1.25rem;
  text-align: center;
}

/* Media Queries */

@media only screen and (min-width: 440px) {
  .article__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .section__article,
  .section__single_article,
  .section__comment {
    width: 400px;
    margin: auto;
  }

  .comment_adder {
    width: 400px;
    margin: auto;
  }

  .new_comment {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-width: 500px) {
  .section__single_article,
  .section__comment,
  .comment_adder {
    width: 80%;
  }

  .comment_adder {
    margin: auto;
  }
}

@media only screen and (min-width: 880px) {
  .section__single_article,
  .section__comment,
  .comment_adder {
    width: 700px;
  }

  .section__single_article {
    margin-bottom: 60px;
  }

  .comment_adder {
    margin: auto;
  }
}
