@import url("https://fonts.googleapis.com/css2?family=Aleo:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");

* {
  background-color: #faf7f6;
}

.App {
  font-family: "Tenor Sans", sans-serif;
  font-weight: 200;
  text-align: center;
}

h1,
h2,
h3 {
  font-family: "Aleo", serif;
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 8px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.nav__list {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 1.1rem;
  margin: 12px 0 24px;
}

.links {
  color: #000;
  text-decoration: none;
}

.links:hover {
  cursor: pointer;
  text-decoration: underline;
  opacity: 0.8;
}

.article__img {
  margin-bottom: 10px;
  max-width: 100%;
}

.section__article,
.section__single_article,
.section__comment {
  padding: 0 18px;
  margin-bottom: 24px;
}

.section__comment,
.body__single_article {
  text-align: justify;
}

.article__title,
.article__author_and_date {
  text-align: left;
  margin: 0 0 10px;
}

.article__title {
  font-size: 1.35rem;
  margin-top: 0px;
}

.single_article__author_and_date,
.comment__author_date_votes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.comment__author_date_votes {
  margin: 0 auto 40px;
}

.article__card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

button {
  border: 1px dashed #000;
  border-radius: 10px;
}

.article__icons {
  display: flex;
  gap: 6px;
}

.button__downvote {
  margin-right: 6px;
}

.button__upvote:hover {
  color: rgb(37, 41, 255);
  cursor: pointer;
}

.button__downvote:hover {
  color: rgb(255, 76, 53);
  cursor: pointer;
}

.err__message {
  border: 2px dashed rgb(255, 76, 53);
  border-radius: 10px;
  background-color: #f9fad6;
  color: rgb(255, 76, 53);
  font-weight: 800;
  padding: 10px 0;
}

@media only screen and (min-width: 440px) {
  .article__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .section__article,
  .section__single_article,
  .section__comment {
    width: 400px;
    margin: auto;
  }
}

@media only screen and (min-width: 500px) {
  .section__single_article,
  .section__comment {
    width: 80%;
  }
}

@media only screen and (min-width: 880px) {
  .section__single_article,
  .section__comment {
    width: 700px;
  }

  .section__single_article {
    margin-bottom: 60px;
  }
}
